@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
/* --------------
header styling 
--------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header h2 {
  margin-left: 70px;
  font-size: 24px;
  color: #3a3a3a;
}
.navbar ul {
  margin-right: 60px;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin-right: 18px;
}
.nav-links {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
/* ------------
end of header styling
----------------- */
/* ---------------
main section styling
----------------- */
.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 200px;
}
.main-text {
  width: 582px;
  height: 270px;
}
.main-text h1 {
  font-size: 52px;
  color: #3a3a3a;
  line-height: 70px;
}
.main-text p {
  color: #3a3a3a;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.main-link {
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  color: #fff;
}
.fa-arrow-right {
  margin-left: 5px;
}
/* -------------------
end of main section styling
-------------------- */
/* --------------------
start of collection styling 
-----------------------*/
.popular-collection {
  margin-bottom: 150px;
}
.collection-title {
  font-size: 28px;
  color: #3a3a3a;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.collection-cards {
  width: 1054px;
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 10px;
}
.collection-card {
  width: 329px;
  height: 445px;
  padding-top: 17px;
  padding-left: 14px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.item-banner img {
  width: 300px;
  height: 256px;
}

.item-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
}
.item-price {
  font-size: 24px;
}
.filled {
  color: #ffc014;
}
.collection-info span,
.collection-ship {
  color: #787885;
  line-height: 143%;
}
.more-info {
  text-align: end;
  margin-right: 120px;
  margin-top: 20px;
}
.more-info a {
  color: rgba(224, 44, 109, 0.87);
  font-weight: bold;
}
/* --------------------
end of collection styling 
--------------------------*/
/* --------------------------
newest product styling 
-------------------------*/
.newest-product-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
}
.product-info {
  width: 610px;
  height: 224px;
}
.product-title {
  font-size: 38px;
  margin-bottom: 16px;
}
.product-info p {
  color: #6c6c6c;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.product-info a {
  border-radius: 0;
}
/* -------------------------
end of newest product styling
-------------------------- */
