@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
/* --------------
header styling 
--------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.header h2 {
  margin-left: 70px;
  font-size: 24px;
  color: #3a3a3a;
}
.navbar ul {
  margin-right: 60px;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin-right: 18px;
}
.nav-links {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
/* ------------
end of header styling
----------------- */
/* ---------------
main section styling
----------------- */
.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 200px;
}
.main-text {
  width: 582px;
  height: 270px;
}
.main-text h1 {
  font-size: 52px;
  color: #3a3a3a;
  line-height: 70px;
}
.main-text p {
  color: #3a3a3a;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.main-link {
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  color: #fff;
}
.fa-arrow-right {
  margin-left: 5px;
}
/* -------------------
end of main section styling
-------------------- */
/* --------------------
start of collection styling 
-----------------------*/
.popular-collection {
  margin-bottom: 150px;
}
.collection-title {
  font-size: 28px;
  color: #3a3a3a;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.collection-cards {
  width: 1054px;
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 10px;
}
.collection-card {
  width: 329px;
  height: 445px;
  padding-top: 17px;
  padding-left: 14px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.item-banner img {
  width: 300px;
  height: 256px;
}

.item-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
}
.item-price {
  font-size: 24px;
}
.filled {
  color: #ffc014;
}
.collection-info span,
.collection-ship {
  color: #787885;
  line-height: 143%;
}
.more-info {
  text-align: end;
  margin-right: 50px;
  margin-top: 20px;
}
.more-info a {
  color: rgba(224, 44, 109, 0.87);
  font-weight: bold;
}
/* --------------------
end of collection styling 
--------------------------*/
/* --------------------------
newest product styling 
-------------------------*/
.newest-product-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
}
.product-info {
  width: 610px;
  height: 224px;
}
.product-title {
  font-size: 38px;
  margin-bottom: 16px;
}
.product-info p {
  color: #6c6c6c;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.product-info a {
  border-radius: 0;
}
/* -------------------------
end of newest product styling
-------------------------- */
/* ------------------------
footer styling
-------------------------- */
.footer {
  text-align: center;
  background-color: #0a0826;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.footer p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #d9dbe1;
}
.footer .icon {
  margin-top: 15px;
}
.footer .icon a {
  color: #fff;
  font-size: 20px;
}
.footer .icon a i {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 10px;
  margin-left: 15px;
}
/* --------------------------
end of footer styling
------------------------ */
/* ---------------------------
start of media query styling
------------------------------ */
@media (max-width: 1250px) {
  .collection-cards {
    width: 900px;
  }
}
@media (max-width: 1158px) {
  .collection-cards {
    margin-left: 100px;
  }
}
@media (max-width: 1105px) {
  .main-img {
    width: 50%;
  }
  .main-img img {
    width: 80%;
  }
  .collection-cards {
    margin-left: 70px;
  }
}
@media (max-width: 1077px) {
  .main-img {
    width: 45%;
  }
  .main-img img {
    width: 75%;
  }
  .collection-cards {
    margin-left: 30px;
  }
  .product-info {
    width: 500px;
  }
  .product-img img {
    margin-top: 30px;
  }
}
@media (max-width: 1038px) {
  .collection-cards {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    margin-left: 180px;
  }
  .main-img {
    width: 40%;
    margin-left: 30px;
  }
}
@media (max-width: 956px) {
  .main-text {
    margin-left: 20px;
  }
  .main-text h1 {
    font-size: 42px;
  }
  .main-img img {
    width: 85%;
  }
  .newest-product-section {
    flex-direction: column;
  }
  .product-info {
    order: 1;
    text-align: center;
    width: 570px;
  }
  .product-info p {
    width: 600px;
  }
  .product-img {
    order: 2;
    margin-top: 50px;
  }
}
@media (max-width: 870px) {
  .collection-cards {
    margin-left: 115px;
  }
}
@media (max-width: 830px) {
  .navbar {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .header h2 {
    font-size: 30px;
    margin-right: 30px;
  }
  .main-text {
    width: 500px;
  }
}
@media (max-width: 794px) {
  .collection-cards {
    margin-left: 80px;
  }
  .main-section {
    flex-direction: column;
    margin-bottom: 130px;
  }
  .main-img {
    width: 50%;
    order: 1;
  }
  .main-text {
    order: 2;
    text-align: center;
    margin-top: 70px;
  }
}
@media (max-width: 754px) {
  .collection-cards {
    margin-left: 40px;
  }
}
@media (max-width: 710px) {
  .collection-cards {
    margin-left: 24px;
  }
}
@media (max-width: 692px) {
  .collection-cards {
    margin-left: 15px;
  }
}
@media (max-width: 688px) {
  .collection-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 180px;
  }
}
@media (max-width: 634px) {
  .collection-cards {
    margin-left: 150px;
  }
  .product-info p {
    width: 540px;
  }
}
@media (max-width: 570px) {
  .newest-product-section {
    margin-bottom: 120px;
  }
  .product-info {
    width: 540px;
  }
  .product-img {
    margin-top: 100px;
  }
  .collection-cards {
    margin-left: 110px;
  }
}
@media (max-width: 540px) {
  .product-info {
    width: 520px;
  }
  .product-info p {
    width: 500px;
  }
}
@media (max-width: 519px) {
  .main-img img {
    width: 80%;
  }
  .main-text p {
    width: 470px;
  }
  .product-img img {
    width: 80%;
    margin-left: 20px;
  }
  .product-info p {
    width: 450px;
    margin-left: 40px;
  }
  .collection-cards {
    margin-left: 90px;
  }
}
/* -----------------------------
end of media query styling
-------------------------------- */
